# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# DOODSTREAM_API_KEY: Required to upload videos and use Filmshare secure CDN APIs.
DOODSTREAM_API_KEY=YOUR_DOODSTREAM_API_KEY_HERE

